@model DiCho.Models.Role

@{
    ViewData["Title"] = "Thông Tin Quyền Truy Cập";
    Layout = "~/Views/Admin/Shared/Layout_Admin.cshtml";
}
<nav class="breadcrumb breadcrumb-dash">
    <a href="@Url.Action("Index","Admin")" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
    <a class="breadcrumb-item" href="@Url.Action("Index","AdminRoles")">Quản Lý Quyền Truy Cập</a>
    <span class="breadcrumb-item active">Thông Tin Quyền Truy Cập</span>
</nav>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông Tin Quyền Truy Cập</h4>
        <div class="table-responsive">
            <div class="product-info-table m-t-20">

                <tbody>

                    <tr>
                        <p class="text-warning">ID : </p>
                        <td>@Model.RoleID</td>
                        <br />
                    </tr>
                    <tr>
                        <p class="text-warning">Tên Quyền Truy Cập : </p>
                        <td>@Model.RoleName</td>
                        <br />
                    </tr>
                    <tr>
                        <p class="text-warning">Mô Tả : </p> 
                        <td>@Model.Description</td>
                    </tr>
                </tbody>


            </div>
        </div>
    </div>
</div>


