@model DiCho.Models.Role

@{
    ViewData["Title"] = "Chỉnh Sửa Quyền Truy Cập";
    Layout = "~/Views/Admin/Shared/Layout_Admin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) //can duoc gia thich cho nay 
    @Html.HiddenFor(model => model.RoleID)
    <nav class="breadcrumb breadcrumb-dash">
        <a href="@Url.Action("Index","Admin")" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
        <a class="breadcrumb-item" href="@Url.Action("Index","AdminRoles")">Quản Lý Quyền Truy Cập</a>
        <span class="breadcrumb-item active">Chỉnh Sửa Quyền Truy Cập</span>
    </nav>
    <form>
        <div class="form-group">
            <div class="form-group col-md-6">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Tên</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Mô Tả</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                </div>
            </div>
        </div>
    </form>

}

