@model IEnumerable<DiCho.Models.Role>

@{
    ViewData["Title"] = "Quản Lý Quyền Truy Cập";
    Layout = "~/Views/Admin/Shared/Layout_Admin.cshtml";
}

    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlerBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlerMessage"]
        </div>
    }


<a  class="btn btn-warning m-r-5" href="@Url.Action("Create","AdminRoles")">Thêm Mới</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col">Mô Tả</th>
                <th scope="col">Chỉnh Sửa</th>
            </tr>
        </thead>
        <tbody>
           @if (Model != null)
           { foreach(var item in Model)
                {
                   <tr>
                       <th scope="row">@item.RoleID</th>
                       <td> @item.RoleName</td>
                       <td> @item.Description</td>
                       <td>
                           <a class="btn btn-primary m-r-5" href="@Url.Action("Details", "Adminroles", new {id=item.RoleID} )" >Xem</a>
                           <a class="btn btn-success m-r-5" href="@Url.Action("Edit","Adminroles", new {id=item.RoleID})">Chỉnh Sửa</a>
                           <a class="btn btn-secondary m-r-5" href="@Url.Action("Delete","Adminroles", new {id=item.RoleID})">Xóa</a>                          
                       </td>
                   </tr>
                
                    }

           }
                    </tbody>
</table>
</div>

